language: node_js
node_js:
  - 'lts/*'
addons:
  sonarcloud:
    organization: "jerrychong25"
    token: $sonarcloud_token # encrypted value of your token
install:
  - npm install -g @vue/cli
  - npm install -g codecov
  - npm ci
before_script:
  # Code Climate
  - yarn global add nyc
  - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
  - chmod +x ./cc-test-reporter
  - ./cc-test-reporter before-build
script:
  - npm run build
  # CodeCov
  - codecov
  # Code Climate
  - nyc --reporter=lcov npm run test
  # SonarCloud
  - sonar-scanner
after_script:
  # Code Climate
  - ./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT
deploy:
  provider: pages
  skip_cleanup: true
  keep_history: true
  github_token: $github_token  # Set in the settings page of your repository, as a secure variable
  local_dir: dist
  target_branch: master
  on:
    branch: staging
