language: node_js
node_js:
  - '10.15.2'
before_script:
  - npm install -g @vue/cli@latest
  - npm ci
script:
  - npm run build
deploy:
  provider: pages
  skip_cleanup: true
  keep_history: true
  github_token: $github_token  # Set in the settings page of your repository, as a secure variable
  local_dir: dist
  target_branch: master
  on:
    branch: staging
